.benefits {
  justify-content: center;
}

.benefits__card {
  min-width: 270px;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  border: 1px solid #EBEBEB;
  border-left: 5px solid #00B2FF;
  padding-left: 25px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.benefits__card:hover {
  background-color: #00B2FF;
}

.benefits__card-image {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.benefits__card h3 {
  min-width: 210px;
  margin: 0;
  margin-bottom: 15px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #00B2FF;
}

.benefits__card p {
  min-width: 210px;
  margin: 0;
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
}

@media (min-width: $vp-768) {
  .benefits__card {
    width: 320px;
    min-height: 360px;
    margin: 0;
    padding-top: 40px;
    padding-left: 41px;
  }

  .benefits__card h3 {
    min-width: 230px;
    font-size: 24px;
    line-height: 34px;
  }

  .benefits__card p {
    min-width: 245px;
    font-size: 16px;
    line-height: 135%;
  }
}

@media (min-width: $vp-1440) {
  .benefits__card {
    width: 595px;
    min-height: 300px;
  }

  .benefits__card p {
    padding-right: 45px;
  }
}
