.main-nav {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  padding-left: 26px;
  padding-right: 35px;
}

.main-nav__logo-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-nav__logo-link {
  display: block;
  height: 35px;
  width: 35px;
}

.main-nav__logo-info-wrapper {
  display: none;
}

.main-nav__logo-info-wrapper h1 {
  margin: 0;
  width: 145px;
  height: 25px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #F2F5F7;
  margin-bottom: 5px;
  margin-top: 5px;
}

.main-nav__logo-info-wrapper p {
  margin: 0;
  width: 110px;
  height: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(248, 253, 255, 0.7);
  margin-bottom: 5px;
}

.main-nav__info-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  list-style: none;
}

.main-nav__info-item:first-child {
  margin-right: 20px;
}

.main-nav__info-item a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav__info-item p {
  display: none;
}

.main-nav__btn {
  display: none;
}

@media (min-width: $vp-768) {
  .main-nav {
    height: 100px;
    padding-left: 50px;
    padding-right: 70px;
  }

  .main-nav__logo-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15px;
  }
}
