.page-form {
  width: 100%;
  background-color: #00B3FF;
}

.page-form__image {
  display: none;
}

.page-form__wrapper {
  margin: 0 auto;
  padding: 0 25px;
}

@media (min-width: $vp-768) {
  .page-form__wrapper {
    padding: 0 50px;
  }
}
