.page-form {
  width: 100%;
  background-color: #00B3FF;
}

.page-form__image {
  display: none;
}

.page-form__wrapper {
  margin: 0 auto;
  padding: 0 25px;
}

@media (min-width: $vp-768) {
  .page-form__wrapper {
    padding: 0 50px;
  }
}

@media (min-width: $vp-1440) {
  .page-form {
    position: relative;
  }

  .page-form::before {
    content: '';
    display: block;
    width: 1000px;
    height: 800px;
    background: rgba(4, 24, 39, 0.5);
    transform: rotate(-50.1deg);
    position: absolute;
    left: -317px;
    bottom: 100px;
  }

  .page-form__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
  }

  .page-form__image {
    width: 510px;
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
