.products-and-service {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #041827;
  color: #ffffff;
  padding: 0 25px;
}

.products-and-service h2 {
  min-width: 270px;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 40px;
  min-height: 64px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 140.62%;
}

.products-and-service__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
  color: #ffffff;
}

.products-and-service__item {
  margin: 0;
  margin-bottom: 30px;
}

.products-and-service__link {
  display: block;
  width: 270px;
  height: 250px;
}

.products-and-service__card {
  position: relative;
  width: 270px;
  height: 250px;
}

.products-and-service__card--1 {
  background-image: url('/img/card-1_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.products-and-service__card--2 {
  background-image: url('/img/card-2_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.products-and-service__card--3 {
  background-image: url('/img/card-3_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.products-and-service__link p {
  position: absolute;
  width: 150px;
  height: 50px;
  left: 30px;
  top: 30px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.products-and-service__link button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 230px;
  top: 210px;
  background-color: #00B2FF;
  border-radius: 3px 0px 0px 0px;
  border: 0;
}

@media (min-width: $vp-768) {
  .products-and-service h2 {
    min-width: 670px;
    font-size: 36px;
    line-height: 51px;
  }

  .products-and-service__link {
    width: 670px;
  }

  .products-and-service__card {
    width: 670px;
  }

  .products-and-service__link p {
    font-size: 20px;
  }

  .products-and-service__link button {
    width: 60px;
    height: 60px;
    left: 610px;
    top: 190px;
  }

  .products-and-service__link--image {
    display: flex;
    width: 4px;
    height: 8px;
  }
}

@media (min-width: $vp-1440) {
  .products-and-service {
    z-index: 2;
  }

  .products-and-service h2 {
    min-width: 800px;
    margin-left: 330px;
  }

  .products-and-service__list {
    width: 1220px;
    display: flex;
    flex-direction: row;
  }

  .products-and-service__item {
    width: 350px;
    height: 650px;
  }

  .products-and-service__link {
    width: 350px;
    height: 650px;
  }

  .products-and-service__card {
    width: 350px;
    height: 650px;
  }

  .products-and-service__link button {
    left: 290px;
    top: 590px;
  }

}
