.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.social__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 215px;
  height: 55px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.social__logo-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 15px;
}

.social__logo-header {
  margin: 0;
  width: 145px;
  height: 25px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #F2F5F7;
  margin-bottom: 5px;
  margin-top: 5px;
}

.social__logo-text {
  margin: 0;
  width: 110px;
  height: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(248, 253, 255, 0.7);
  margin-bottom: 5px;
}

.social__link-wrapper {
  width: 150px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

@media (min-width: $vp-768) {
  .social {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }
}
